*{
  margin: 0px;
  padding:0px;
}

body{
    background-color: #333;
}
#main{
    width: 760px;
    height: 895.59px;
background-color: white;
margin: 0 auto;
padding: 10px 10px 3px;
}
#header {
  height:215px ;
  background-image: url("./imgs/header.jpg");
  background-repeat: no-repeat;

}
#left{
  width: 180px;
  height: 492.562px;
  margin:20px 0px 10px;
  float: left;
}
#content {
  width: 550px;
  margin: 10px 0px;
  float: right;
  padding: 0px 10px 10px; 
  height: 657/56px; 
}
#footer {
  width: 750px;
  height: 23.031px;
  clear: both;
  border-top: 1px solid #ccc;
text-align: center;
padding: 10px 5px 10px;
}