*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
main{
    width:100vw;
    height: 100vh;
    /* background-color: aqua; */
}
nav{
    width: 100%;
    height: 5%;
    padding-bottom: 10px;
       
}
.cotalog{
    width: 60%;

    
}
.logo{
  color: #3399CC;
  font-size:25px ;
  display: inline-block;
    
}
.menu{
    width: 40%;
    float:right;
    text-align: center;
    
        
}
.menu-bar{
    margin-right: 30px;
    font-size: 25px;
   

}
header{
    width:100%;
    height: auto; 
    background-image: url("img/hero.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    
}

.search{
    
    width: 100%;
    padding:400px 600px 400px;
    /* display:inline-block; */
    display:flex;
    direction:row;
    border-color:none;
}
.search-bar{
    width: 350px;
    height:30px ;
    border:none;

    
}
#btn{
    /* float:right; */
    height: 30px;
    width: 50px;
    border:0;
    border-radius: none;
    background-color:#009999;
    
}
    
content{
    width: 100%;
    height: auto;

    float: left;;
}
h2{
    color: #009999;
}
.txt{
    width: 80%;
}
.page-num{
    float:right;
    width: 20%;
   
}
.gallery{
    display:flex;
    direction:row;
}
.ax{
    /* display:inline-block;
     */
     /* width: 25%;
     height: auto; */
    

}
img{
    width: 353px;
    padding: 8px;
}
.p1{
    display: flex;
    direction:row;
    justify-content: space-between;
}
#date{
    /* margin-left: 15px; */
}
/* #follower{

    padding-left: 190px;
}   */

   
.buttom{
     width: 100%; 
    display:flex;
    direction:row;
    margin-top: 70px;
    margin-bottom: 100px;
}
.previous{
     width: 20%;
     padding-left: 10px; 
    
}
#pre{
    padding:7px 17px;
    border:3px solid none ;
    background-color:#009999 ;
    border-radius: 3px;

}
.number{
     width: 60%;
     text-align: center; 


}
.num{
    padding: 15px;
    border:3px solid none;
    background-color:#EEEEEE;
    border-radius: 3px;
    margin-left: 10px;
    

}
.next{
     width: 20%; 
     /* margin-right: 5px; */
}
#nex{
    padding:7px 17px;
    border:3px solid none ;
    background-color: #009999;
    border-radius: 3px;
    margin-left: 70px;

}
#a1{
    color:white;
    background-color:#009999 ;
}
.num:hover{
    background-color:#009999 ;
    color:white;

}
footer{
    background-color: #EEEEEE;
    height: auto;
    width: 100%;
    
    clear: both;
}

.session{
    /* width: 30%; */
    padding-top: 40px;
    /* margin:30px 40px; */
    display:flex;
    direction: row;
    
}
#left{
    width: 40%;
}
#p2{
    /* width: 30%; */
    padding-top: 25px;
}
#p3{
    padding-top: 70px;
}
#center{
width: 30%;
}
#right{
    width: 30%;
}
#p4{
    padding-top: 50px;
}


